{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "semi": false,
  "rcVerbose": true,
  "overrides": [
    {
      "files": ["**/*.scss"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
