@font-face {
  font-family: 'Monument Grotesk';
  src: url("../fonts/MonumentGrotesk-Regular.woff2") format("woff2"),
       url("../fonts/MonumentGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url("../fonts/MonumentGrotesk-Bold.woff2") format("woff2"),
       url("../fonts/MonumentGrotesk-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url("../fonts/MonumentGrotesk-Italic.woff2") format("woff2"),
       url("../fonts/MonumentGrotesk-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url("../fonts/MonumentGrotesk-BoldItalic.woff2") format("woff2"),
       url("../fonts/MonumentGrotesk-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

html{
  font-family: 'Monument Grotesk', Helvetica, sans-serif;
  font-size:100%;
}

body{
  font-size:1em;
  font-family:inherit;
} 

* {
  font-family:inherit;
}
